body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

img.logo {
  margin-left: -20px;
  margin-top: 2px;
}

img.icon {
  width: 40px;
  height: 40px;
}

img.home-panel {
  width: 90%;
}

img.app-icon {
  width: 150px;
  height: 150px;
}

p.title {
  color: black;
  font-weight: bold;
  line-height: 0.0;
}

a:link {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: underline;
}

a:visited {
  color: grey;
  text-decoration: none;
}

ul.menu {
  top: 0;
  position: fixed;
  list-style-type: none;
  margin: auto;
  background-color: #FFF;
  border-bottom-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

li.logo {
  float: left;
}

li.menu {
  float: right;
  margin-left: -50px;
  margin-right: 70px;
  margin-top: -2px;
}

li.dropdown {
  display: inline-block;
  float: right;
  margin-left: -50px;
  margin-right: 70px;
  margin-top: -2px;

}
li a, .dropbtn {
  display: block;
  color: black;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 16px;
}

li a:hover, .dropdown:hover .dropbtn {
  color: green;
}

.active {
  color: green;
  background-color: #FFFFFF;
}

.dropbtn {
  padding-bottom: 10px;70px
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: green;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header {
  grid-area: header;
  width: 600px;
  font-size: 50px;
  text-align: left;
}

.main {
  grid-area: main;
  width: 600px;
  color: grey;
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
  padding-bottom: 50px;
}

.footer {
  grid-area: footer;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  color: grey;
  font-size: 10px;
  line-height: 1.2;
  text-align: left;
  border-top-style: solid;
  border-color: lightgrey;
  border-width: 1px;
}

.panel {
  grid-area: panel;
  width: 250px;
  padding-top: 75px;
  padding-left: 20px;
}

.home-header {
  grid-area: home-header;
  position: static;
  padding-top: 88px;
  text-align: left;
  width: auto;
}

.home-header-text {
  grid-area: home-header-text;
  position: relative;
  width: 80%;
  font-size: 50px;
  font-family: Ubuntu;
  bottom: 250px;
  left: 100px;
  color: white;
  text-shadow: 3px 3px 6px grey;
}

.home-main {
  grid-area: home-main;
  width: 600px;
  color: grey;
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
  padding-bottom: 50px;
}

.home-panel {
  grid-area: home-panel;
  width: 200px;
  margin-bottom: -30px;
  margin-right: 20px;
  padding-top: 7px;
  padding-left: 40px;
}

.app-1 {
  grid-area: app-1;
  width: 200px;
  color: grey;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1.0;
  padding-bottom: 50px;
}

.app-2 {
  grid-area: app-2;
  width: 200px;
  color: grey;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1.0;
  padding-bottom: 50px;
}

.app-3 {
  grid-area: app-3;
  width: 200px;
  color: grey;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1.0;
  padding-bottom: 50px;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header panel'
  'main panel';
  grid-gap: 20px;
  justify-content: center;
  background-color: #FFFFFF;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-left: 28px;
}

.grid-container > div {
  font-family: Ubuntu;
}

.home-grid-container {
  display: grid;
  grid-template-areas:
  'home-header home-header'
  'home-main home-panel';
  justify-content: center;
  background-color: #FFFFFF;
  margin-top: -70px;
  margin-bottom: 70px;
}

.home-grid-container > div {
  font-size: 24px;
  font-family: Ubuntu;
}

.apps-grid-container {
  display: grid;
  grid-template-areas:
  'app-1 app-2 app-3';
  grid-gap: 50px;
  justify-content: center;
  background-color: #FFFFFF;
  padding-bottom: 200px;
}

.apps-grid-container > div {
  font-family: Ubuntu;
}


@media screen and (max-width:700px)  {

  img.logo {
    width: 120px;
    height: 40px;
    padding-top: 12px;
  }

}

@media screen and (max-width:900px), (orientation: portrait)  {

  img.home-panel {
    width: 180px;
    margin-top: 30px;
    margin-bottom: -40px;
  }

  p.title {
    color: black;
    font-weight: bold;
    line-height: 1.0;
  }

  ul.menu {
    position: fixed;
    padding-bottom: 12px;
  }

  .home-header-container {
    position: static;
    text-align: left;
    width: 100%;
  }

  .home-header {
    width: 100%;
    padding-top: 87px;
  }

  .home-header-text {
    position: relative;
    width: 70%;
    font-size: 32px;
    font-family: Ubuntu;
    bottom: 140px;
    left: 50px;
    color: white;
  }

  .home-main {
    grid-area: home-main;
    width: auto;
    margin: auto;
    color: grey;
    font-size: 12px;
    text-align: justify;
    line-height: 1.5;
    padding-bottom: 10px;
  }

  .header {
    width: auto;
    margin: auto;
    font-size: 32px;
  }

  .main {
    width: auto;
    margin: auto;
  }

  .panel {
    grid-area: panel;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .home-panel {
    grid-area: home-panel;
    width: 100%;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer {
    padding-top: 25px;
  }

  .grid-container {
    display: grid;
    width: auto;
    grid-template-areas:
    'header'
    'main'
    'footer'
    'panel';
    justify-content: center;
    background-color: #FFFFFF;
    padding: 40px;
  }
  .home-grid-container {
    display: grid;
    width: auto;
    grid-template-areas:
    'home-header'
    'home-panel'
    'home-main'
    'footer';
    justify-content: center;
    background-color: #FFFFFF;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .apps-grid-container {
    display: grid;
    grid-template-areas:
    'app-1'
    'app-2'
    'app-3';
    grid-gap: 30px;
    justify-content: center;
    background-color: #FFFFFF;
    padding-bottom: 200px;
  }

}
